<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <th:block th:replace="~{homeScreen/fragments/header :: header('Modelo')}"></th:block>
</head>

<body>

<nav th:replace="~{homeScreen/fragments/menu :: menu}"></nav>

<div class="container-fluid mt-4">

    <!-- CARD TOPO -->
    <div class="card shadow mb-4">
        <div class="card-body">

            <h1 class="h3 mb-2 text-gray-800">Modelos</h1>
            <p class="mb-4">Gerenciamento completo de modelos do sistema</p>

            <a class="btn btn-success mb-3"
               th:href="@{/NovoModelo}">
                <i class="fas fa-user-plus"></i>
                Nova Modelo
            </a>
        </div>
    </div>

    <!-- CARD TABELA -->
    <div class="card shadow">
        <div class="card-body">

            <div class="table-responsive">

                <table id="datatable" class="table table-bordered table-hover" width="100%">

                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Modelo</th>
                        <th>Ano de Lançamento</th>
                        <th>Marca</th>
                        <th>Ações</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="modelo : ${modelos}">

                        <td class="text-center" th:text="${modelo.idModelo}">
                        </td>

                        <td th:text="${modelo.nomeModelo}">
                        </td>

                        <td th:text="${modelo.anoLancamento}">
                        </td>

                        <td th:text="${modelo.marca.nomeMarca}">
                        </td>

                        <!-- AÇÕES -->
                        <td class="text-center">

                            <a th:href="@{modelo/editar/{id}(id=${modelo.idModelo})}"
                               class="btn btn-warning btn-sm">

                                <i class="fas fa-edit"></i>
                            </a>

                            <button class="btn btn-danger btn-sm"
                                    th:onclick="'deletar(' + ${modelo.idModelo} + ')'">
                                <i class="fas fa-trash"></i>
                            </button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/js/modelo/modeloListar.js}"></script>

<div th:replace="~{homeScreen/fragments/footer :: footer}"></div>

</body>
</html>