body::before {

     content: "";

     position: fixed;

     top: 0;
     left: 0;
     right: 0;
     bottom: 0;

     background:
             url('/img/principal.jpg')
             center center / cover no-repeat fixed;

     z-index: -2;
 }

body::after {

    content: "";

    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0,0,0,0.6);

    z-index: -1;
}
